.container00 {
  &.container01 {
    background-image: url(../imagens/home/01.jpg);
  }
  &.container02 {
    background-image: url(../Imagens/Home/03.jpg);
  }

  &.container03 {
    background-image: url(../Imagens/Home/02.gif);
  }

  &.container04 {
    background-image: url(../Imagens/Home/04.jpg);
  }
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

#button {
  padding: $padding-button;
}

#button2 {
  padding: $padding-button;
  margin-top: 35px;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: $link-hover;
  }
}

.copyOBC {
  color: $copy-color;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}

@media (max-width: 380px) {
  .titlePadding {
    padding-top: 120px;
  }

  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
